@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    
    
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.wrapper .side-nav{
    background-color: #FBFBFB;
    width: 15%;
    position: fixed;
    height: 100%;
}

.wrapper .main-section{
    width: 85%;
    background-color: #FDFDFD;
    margin-left: 15%;
    
    
    
}

